/* Table Styling */
/*table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f4f4f4;
    text-align: left;
}

.lightning-icon {
    margin-right: 4px;
}

lightning-button {
    margin-right: 5px;
}

.slds-is-fixed.slds-align-top.slds-align-right {
    margin-top: 2rem; 
    margin-bottom: 2rem; 
    margin-right: 1rem; 
}*/